* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}


/* Header */
header {
    max-width: 1400px;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    width: 350px;
    justify-content: space-between;
    height: 100%;
}

nav li {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li:hover {
    border-top: 2px solid #0065FC;

}
nav li:hover a {
    color: #0065FC;
}
nav li a {
    text-decoration: none;
    color: rgb(58, 58, 58);
}



nav img {
    max-width: 150px;
}

/* Main */

main {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

main h6 {
    font-size: 22px;
    margin: 0 0 5px 0;
}

main p {
    font-size: 18px;
    margin: 0;
}

/* Search bar */

#search-bar {
    display: flex;
    margin-top: 15px;
    height: 50px;
}

#search-bar i {
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    font-size: 18px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#search {
    border: 1px solid #F2F2F2;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 550;
    width: 220px;
}

#submit {
    color: white;
    background-color: #0065FC;
    border: 0 solid;
    border-radius: 0 15px 15px 0;
    width: 146px;
    font-size: 18px;
}
#submit:hover {
    background-color: #3686fd;
    cursor: pointer;
}

/* Filters */
#filters {
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
    align-items: center;

}

.filter-item {
    margin-left: 30px;
    border: 2px solid #d4d4d4;
    border-radius: 30px;
    border-left: 0;
}


.filter-item i {
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 100%;
    color: #0065FC;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.filter-item p {
    padding-right: 15px;
}

#filters p {
    font-size: 18px;
    font-weight: 550;
    color: black;
}

/* Results */

#result-count {
    margin-top: 30px;
    font-size: 18px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

#result-count i {
    margin-right: 15px;
    color: #0065FC;
    text-align: center;
    height: 30px;
    width: 30px;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#results-sec {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#results-sec h5 {
    margin: 0;
    font-size: 20px;
}

#results {
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#results .show-more {
    font-weight: 550;
    color: black;
}


.cards-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards-basic {
    background-color: white;
    width: 250px;
    height: 200px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.2);
    cursor: pointer;
    margin: 15px;
}

.cards-basic img{
    height: 60%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.cards-basic .title {
    font-size: 15px;
    font-weight: 600;
}

.cards-basic .price {
    font-size: 14px;
    margin-top: 3px;
}

.cards-basic-infos {
    margin-top: 8px;
    margin-left: 10px;
}

.cards-basic:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 50px -2px rgba(0,0,0,0.2);

}

/* Popular section */

#results-popular {
    width: 33%;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-popular {
    background-color: white;
    width: 100%;
    height: 140px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.2);
    cursor: pointer;
    margin: 15px;
    display: flex;
}

.cards-popular img{
    height: 100%;
    width: 135px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.cards-popular-infos {
    margin-top: 8px;
    margin-left: 10px;
}

.cards-popular:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 50px -2px rgba(0,0,0,0.2);
}

.cards-popular .title {
    font-size: 15px;
    font-weight: 600;
}

.cards-popular .price {
    font-size: 14px;
    margin-top: 3px;
}

/* Activities */

#activities {
    margin-top: 15px;
    margin-bottom: 50px;
}

.act {
    width: 320px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.2);
}

.act img {
    height: 450px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.act:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 50px -2px rgba(0,0,0,0.2);
    cursor: pointer;
}

.mosaic {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
}


.act--small {
    height: 180px;
}

.act--small img {
    height: 130px;
}

.act--medium {
    height: 270px;
}

.act--medium img {
    height: 220px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.act p {
    margin: 10px;
    font-size: 15px;
    font-weight: 650;
}

/* Footer */
footer {
    width: 100%;
    background-color: #F2F2F2;
    padding-bottom: 50px;
    padding-top: 50px;
}

#footer-container {
    max-width: 1400px;
    margin: auto;
    display: flex;
}

.footer-sec {
    display: flex;
    flex-direction: column;
    width: 33%;
}

footer a {
    color: black;
    margin-top: 10px;
}

footer h5 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
}